*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #FEFEFF;
}
html,body {
    min-width: 100%;
    min-height: 100%;
}
body{
    background:url(../images/login/login_bg.jpg) no-repeat center;
    background-size: cover;
}
.container{
    min-width: 1024px;
    max-width: 1366px;
    height: 100vh;
    margin: auto;
    position: relative;
}
.nav,.nav ul{
    height: 100px;
}
.nav ul{
    margin-right: 80px;
}
.nav {
    padding-top: 45px;
    position: relative;
    z-index: 100;
}
.nav li,nav a{
    width: 80px;
    height: 30px;
    line-height: 30px;
}
.nav li{
    margin-left: 30px;
    text-align: center;
    float: right;
    background-color: rgba(24, 144, 255, 0.6);
    border-radius: 4px;
}

.nav a{
    display: block;
    border-radius: 4px;
    
}
.nav a:hover{
    background-color: rgba(24, 144, 255, 1);
}
.nav a{
    font-size: 14px;
    font-weight: 400;
}
.content{
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.login-form{
    float: right;
}

.input-container {
    width: 375px;
    height: 60px;
    border-radius: 45px;
    background: transparent;
    position: relative;
    margin-bottom: 20px;
}
.user-submit{
    margin-top: 25px;
}
.login-img{
    width: 19px;
    height: 22px;
    position: absolute;
    top:21px;
    left: 30px;
}
input{
    outline-style: none; 
}
.user-id input,.user-key input{
    width:278px;
    height: 100%;
    font-size: 12px;
    font-weight: 600;
    background-color: transparent;
    border-color: transparent;
    overflow: hidden;
    position: absolute;
    right: 22px;
    left: 75px;
    top:0;
    color: #fff;
}
.user-submit input{
    width: 100%;
    height: 100%;
    background-color: rgba(254, 205, 8, 1);
    border: 1px solid rgba(254, 205, 8, 1);
    border-radius: 45px;
    font-size: 18px;
    font-weight: 400;
}
.user-submit input:hover{
    cursor: pointer;
}
.input-container .mask {
    background:transparent;
    width: 100%;
    height: 100%;

    border:1px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 45px;
    z-index: -1;
}

.input-container input:focus + .mask {
    border-color: rgba(254, 205, 8, 0.4);
    background-color: rgba(43, 41, 41, 0.2);
}

.slogan {
    color: #fff;
    float: left;
}

.slogan h2 {
    font-size: 48px;
    font-weight: 100;
}

.slogan h3 {
    font-size: 32px;
    font-weight: 100;
}

.center {
    position: absolute;
    width: 100%;
    padding: 0 85px 0 20px;
    box-sizing: border-box;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}