@import "./reset.css";
body,html {
    min-width: 1024px;
    width: 100%;
}
.wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    background: #f0f2f5;
    width: 100%;
}

#menu {
    min-width: 230px;
    background: #001529;
    color: #fff;
    transition: .2s all ease;
}

#menuSwitcher {
    position: absolute;
    width: 1px;
    height: 1px;
    visibility: hidden;
    left: 0;
    top: 0;
}
#menuSwitcher:checked + #menu {
    /* transform: translate(-100%, 0); */
    margin-left: -230px;
}

#content {
    flex-grow: 1;
}

#content .nav {
    height: 60px;
    border-bottom: 1px solid #e9e9e9;
    background: #fff;
}

#content .sub-menu {
    height: 125px;
    border-bottom: 1px solid #e9e9e9;
    background: #fff;
}

#bd {
    padding: 15px 20px;
    min-height: calc(100vh - 275px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#bd .header {
    margin-bottom: 15px;
}

#bd .header ul {
    display: flex;
    height: 105px;
    background: #fff;
    padding: 25px;
}

#bd .header ul li {
    flex: 1;
    height: 60px;
    box-sizing: border-box;
    border-right: 1px solid #e9e9e9;
    
}

#bd .header ul.align-left li {
  text-align: left;
}

#bd .header ul li:last-child {
    border: none;
}

#bd .bd-container {
    padding: 25px;
    overflow: hidden;
    /* flex-grow: 1; */
    background: #fff;
}

.bd-container dl {
    width: 50%;
    float: left;
}

#ft {
    text-align: center;
    height: 90px;
    color: #929495;
    padding-top: 20px;
}

#ft .links {
    margin-bottom: 5px;
}

#ft .links a {
    margin: 0 20px;
}

#menu .title{
    font-family: 'Impact';
    font-weight: 900;
    font-size: 18px;
    color: #ffffffd8;
    text-align: left;
    line-height: 23px;
    padding-top:30px;
    padding-left: 20px;
}
#menu h2{
    width: 100%;
    position: relative;
    text-align: left;
    padding:14px 15px 14px 20px;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
}
#menu h2 img{
    display: inline-block;
    height: 14px;
    width:14px;
    margin-right:15px; 
    margin-top: -2px;
}
#menu h2:after{
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    right: 15px;
    border:1px solid;
    border-color: transparent #999  #999 transparent;
    transform: rotate(-45deg) translate(0, -60%);
    transform-origin: top;
}
#menu .menu-item.active h2:after {
    transform: rotate(45deg) translate(0, -60%);
}
#menu .menu-item.active ul {
    display: block;
}
#menu h2:hover{
    cursor: pointer;
}
#menu ul,#menu li{
    width: 100%;
}
#menu ul {
    background: #000c17;
    overflow: hidden;
    margin-bottom: 0;
    display: none;
}
#menu li{
    font-size: 14px;
    line-height: 20px;
    padding-left:50px;
    color: #999999;
    margin: 10px 0;
}
#menu li:hover,
#menu li.target-url {
    cursor: pointer;
    color: #fff;
}
.menu-switch{
    width: 18px;
    height: 14px;
    float: left;
    margin: 23px 25px;
    background: url(../images/user/switch.png) no-repeat center;
    background-size: contain;
    cursor: pointer;
}
.menu-switch img:hover{
    cursor: pointer;
}
.nav ul{
    float: right;
    font-size: 0;
    margin-top: 20px;
}
.nav li{
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
}
.nav li a {
    display: block;
}
.nav li .name,
.nav li .avatar {
    display: inline-block;
    vertical-align: middle;
}
.nav li .name {
    font-size: 14px;
    margin-left: 8px;
}
.nav li img{
    width: 16px;
    height: 18px;
    display: block;
}
.sub-menu .text{
    padding-left: 30px;
    padding-top: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #00000072;
}
.sub-menu .sub-menu-content{
    height: 50px;
    margin-top: 8px;
    margin-left: 25px;
    padding-left: 70px;
    position: relative;
}
.sub-menu .sub-menu-content img{
    position: absolute;
    top:0;
    left: 0;
    display: block;
    width: 50px;
    border-radius: 50px;
}
.sub-menu .sub-menu-content p{
    padding: 10px 0;
    font-size: 20px;
    line-height: 20px;
}
.sub-menu .sub-menu-content li{
    padding:0 5px;
    height: 14px;
    line-height: 14px;
    border-right:1px solid #999;
    display: block;
    float: left;
    font-size: 14px;
    text-align: left;
    color: #999;
    position: relative;
}
.sub-menu .sub-menu-content ul li:first-child{
    padding-left: 0;
}
.sub-menu .sub-menu-content ul li:last-child{
    border: none;
}

#bd .header p {
    font-size: 14px;
    line-height: 14px;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    margin: auto;
}

#bd .header .title {
    color: #333;
    font-size: 24px;
    margin-top: 15px;
    line-height: 24px;
}

#bd .header li {
    text-align: center;
}

.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    color: #636363;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    padding: 10px 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
  }
  .table > thead > tr > th {
    vertical-align: bottom;
  }
  .table > caption + thead > tr:first-child > th,
  .table > colgroup + thead > tr:first-child > th,
  .table > thead:first-child > tr:first-child > th,
  .table > caption + thead > tr:first-child > td,
  .table > colgroup + thead > tr:first-child > td,
  .table > thead:first-child > tr:first-child > td {
    border-top: 0;
  }
  .table > tbody + tbody {
    border-top: 2px solid #ebebeb;
  }
  .table .table {
    background-color: #fff;
  }
  .table-condensed > thead > tr > th,
  .table-condensed > tbody > tr > th,
  .table-condensed > tfoot > tr > th,
  .table-condensed > thead > tr > td,
  .table-condensed > tbody > tr > td,
  .table-condensed > tfoot > tr > td {
    padding: 5px;
  }
  .table-bordered {
    border: 1px solid #ebebeb;
  }
  .table-bordered > thead > tr > th,
  .table-bordered > tbody > tr > th,
  .table-bordered > tfoot > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > td {
    border: 1px solid #ebebeb;
  }
  .table-bordered > thead > tr > th,
  .table-bordered > thead > tr > td {
    border-bottom-width: 2px;
  }
  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }
  .table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
  }
  table col[class*="col-"] {
    position: static;
    float: none;
    display: table-column;
  }
  table td[class*="col-"],
  table th[class*="col-"] {
    position: static;
    float: none;
    display: table-cell;
  }
  .table > thead > tr > td.active,
  .table > tbody > tr > td.active,
  .table > tfoot > tr > td.active,
  .table > thead > tr > th.active,
  .table > tbody > tr > th.active,
  .table > tfoot > tr > th.active,
  .table > thead > tr.active > td,
  .table > tbody > tr.active > td,
  .table > tfoot > tr.active > td,
  .table > thead > tr.active > th,
  .table > tbody > tr.active > th,
  .table > tfoot > tr.active > th {
    background-color: #f5f5f5;
  }
  .table-hover > tbody > tr > td.active:hover,
  .table-hover > tbody > tr > th.active:hover,
  .table-hover > tbody > tr.active:hover > td,
  .table-hover > tbody > tr:hover > .active,
  .table-hover > tbody > tr.active:hover > th {
    background-color: #e8e8e8;
  }
  .table > thead > tr > td.success,
  .table > tbody > tr > td.success,
  .table > tfoot > tr > td.success,
  .table > thead > tr > th.success,
  .table > tbody > tr > th.success,
  .table > tfoot > tr > th.success,
  .table > thead > tr.success > td,
  .table > tbody > tr.success > td,
  .table > tfoot > tr.success > td,
  .table > thead > tr.success > th,
  .table > tbody > tr.success > th,
  .table > tfoot > tr.success > th {
    background-color: #dff0d8;
  }
  .table-hover > tbody > tr > td.success:hover,
  .table-hover > tbody > tr > th.success:hover,
  .table-hover > tbody > tr.success:hover > td,
  .table-hover > tbody > tr:hover > .success,
  .table-hover > tbody > tr.success:hover > th {
    background-color: #d0e9c6;
  }
  .table > thead > tr > td.info,
  .table > tbody > tr > td.info,
  .table > tfoot > tr > td.info,
  .table > thead > tr > th.info,
  .table > tbody > tr > th.info,
  .table > tfoot > tr > th.info,
  .table > thead > tr.info > td,
  .table > tbody > tr.info > td,
  .table > tfoot > tr.info > td,
  .table > thead > tr.info > th,
  .table > tbody > tr.info > th,
  .table > tfoot > tr.info > th {
    background-color: #d9edf7;
  }
  .table-hover > tbody > tr > td.info:hover,
  .table-hover > tbody > tr > th.info:hover,
  .table-hover > tbody > tr.info:hover > td,
  .table-hover > tbody > tr:hover > .info,
  .table-hover > tbody > tr.info:hover > th {
    background-color: #c4e3f3;
  }
  .table > thead > tr > td.warning,
  .table > tbody > tr > td.warning,
  .table > tfoot > tr > td.warning,
  .table > thead > tr > th.warning,
  .table > tbody > tr > th.warning,
  .table > tfoot > tr > th.warning,
  .table > thead > tr.warning > td,
  .table > tbody > tr.warning > td,
  .table > tfoot > tr.warning > td,
  .table > thead > tr.warning > th,
  .table > tbody > tr.warning > th,
  .table > tfoot > tr.warning > th {
    background-color: #fcf8e3;
  }
  .table-hover > tbody > tr > td.warning:hover,
  .table-hover > tbody > tr > th.warning:hover,
  .table-hover > tbody > tr.warning:hover > td,
  .table-hover > tbody > tr:hover > .warning,
  .table-hover > tbody > tr.warning:hover > th {
    background-color: #faf2cc;
  }
  .table > thead > tr > td.danger,
  .table > tbody > tr > td.danger,
  .table > tfoot > tr > td.danger,
  .table > thead > tr > th.danger,
  .table > tbody > tr > th.danger,
  .table > tfoot > tr > th.danger,
  .table > thead > tr.danger > td,
  .table > tbody > tr.danger > td,
  .table > tfoot > tr.danger > td,
  .table > thead > tr.danger > th,
  .table > tbody > tr.danger > th,
  .table > tfoot > tr.danger > th {
    background-color: #f2dede;
  }
  .table-hover > tbody > tr > td.danger:hover,
  .table-hover > tbody > tr > th.danger:hover,
  .table-hover > tbody > tr.danger:hover > td,
  .table-hover > tbody > tr:hover > .danger,
  .table-hover > tbody > tr.danger:hover > th {
    background-color: #ebcccc;
  }
  .table-responsive {
    overflow-x: auto;
    min-height: 0.01%;
  }

.table thead {
    background: #fafafa;
    border: 1px solid #ebebeb;
    color: #333;
}

.pager {
    overflow: hidden;
}

.pager li {
    float: left;
    margin-left: 8px;
    height: 27px;
    padding: 0 8px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    color: #666;
    line-height: 27px;
    font-size: 12px;
}
.pager li:hover {
  color: #1890ff;
}
.pager li.select {
    background: #1890ff;
    color: #fff;
    border-color: #1890ff;
    cursor: pointer;
}
.pager li a {
    display: block;
}

.pager li select {
    border: none;
    background: transparent;
    outline: none;
}

.pager li.last {
    border: none;
}

.pager li.last:hover {
  background: #fff;
  border-color: #d9d9d9;
  color: #666;
}

.pager li.last input {
    height: 27px;
    line-height: 27px;
    width: 40px;
    border: 1px solid #d9d9d9;
    padding: 5px;
    border-radius: 4px;
    outline: none;
}

#bd .filter {
    display: flex;
    float: right;
}
#bd .filter .input {
    width: 250px;
    margin-left: 5px;
    position: relative;
}
#bd .filter .input input {
    width: 100%;
    height: 30px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 5px;
}
#bd .filter .input:after {
    content: '';
    background: url(../images/search.png) no-repeat center;
    background-size: contain;
    width: 14px;
    height: 14px;
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 1;
    transform: translate(0, -50%);
}
#bd .filter .links {
    display: flex;
    height: 30px;
    line-height: 30px;
    width: 260px;
    font-size: 12px;
    text-align: center;
    color: #666;
}

#bd .filter .links  a:first-child {
    border-radius: 3px 0 0 3px;
}
#bd .filter .links  a:last-child {
    border-radius: 0 3px 3px 0;
}
#bd .filter .links  a {
    flex: 1;
    border: 1px solid #d9d9d9;
    margin-left: -1px;
}

#bd .filter .links  a.active {
    border-color: #1890ff;
    color: #1890ff;
    position: relative;
    z-index: 1;
}

.pager {
    float: right;
    margin-top: 30px;
}

table {
    margin-top: 25px;
}

.table > tbody > tr > td.no-padding {
    padding: 0;
    text-align: center;
}

.table a {
  color: #5a5fc0;
}


.btn {
  height: 27px;
  padding:0 15px;
  border:1px solid #d9d9d9;
  border-radius: 5px; 
  font-size: 14px;
  text-align: center;
  line-height: 27px;
  margin-left: 20px;
  color: #333;
  display: inline-block;
}
.btn:hover{
  cursor: pointer;
  background: #199ED8;
  color: #fff;
  border-color: #199ED8;
}